body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color:#556B2F;
}
.quem-somos{
    background-color: grey;
}
.margin{
    padding-top: 40px;
    padding-bottom: 40px;
}
.parceiros{
    background-color:#5858FA;

}
.bg-footer{
    background-color: black;
    color: white;
    height: 15px;

}